@import "../Styles/vars.scss";
.register-container {
  width: 50%;
  background-color: #ffffff;
  margin-top: 50px;
  padding: 50px;

  .form-control:focus {
    box-shadow: 10 0 0 0.25rem $bright-blue;
    border-color: $bright-blue;
  }
  .title {
    color: $blue-de-france;
  }
  .p-button {
    direction: rtl;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;

    background: $blue-de-france;
    border-color: $blue-de-france;

    &:enabled:hover {
      border-color: $bright-blue;
      background-color: $bright-blue;
    }
  }
  input {
    margin-bottom: 10px;
  }
}
